.main-noticias {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

.main-noticias .form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.main-noticias .form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.main-noticias input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.noticias-sign-in-container {
  left: 0;
  width: 100%;
  z-index: 2;
}
.cadastrarNoticia {
  background-color: #ff4b2b;
  border-color: #000000;
  font-size: 18px;
  border-radius: 6px;
  margin: 4px;
}
.cadastrarNoticia:hover {
  transform: scale(1.05);
  transition: transform 0.1s ease-in;
}

.main-noticias textarea {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.categoria-div {
  width: 100%;
  margin: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-size: inherit;
}
