@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/*Definition of some colors*/
:root {
  --color-primary: #b72166;
  --color-primary-hover: #790b3e;
}
/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 750px;
  margin: 0 auto;
  border-bottom: 1px solid #e8e4e4;
}
.navbar h1 {
  color: var(--color-primary);
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: var(--color-primary-hover);
  transition: color 0.2s ease-in;
}
.content {
  max-width: 750px;
  margin: 40px auto;
  padding: 20px;
}
/*Blog previews*/
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: var(--color-primary);
  margin-bottom: 8px;
}
.blog-preview a {
  text-decoration: none;
}

button {
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.category-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  border: 1px solid #f1eade;
  cursor: pointer;
}

.category-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.1s ease-in;
}
.category-preview h2 {
  font-size: 20px;
  color: var(--color-primary);
  margin-bottom: 8px;
}

.boxCategory {
}
.divTotalCategories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.empty-page-container {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.empty-page-container-text {
  font-size: 64pt;
  text-transform: uppercase;
  color: #303030;
  margin: 0px;
}

.empty-page-container-description {
  font-size: 12pt;
  text-transform: uppercase;
  color: #303030;
  margin: 0px;
}

.empty-page-container-button {
  font-size: 12pt;
  color: #303030;
  margin-top: 8px;
}

.empty-page-container-button:hover {
  transform: scale(1.05);
  transition: transform 0.1s ease-in;
}
